body{
	padding: 0;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
}

@media screen and (min-width: 360px) {
	#maincontent {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	header {
		width: 100%;
	}

	.heading-link {
		font-size: 20px;
	}

	#map-container {
		height: 35em;
	}

	#map {
		height: 100%;
	}

	.filter-options {
		display: none;
	}

	#restaurants-list li {
		margin: auto;
		padding: 0;
		width: 100%;
		text-align: center;
		padding-bottom: 5em;
		margin-bottom: 3em;
	}

	#restaurants-list li a {
		font-size: 20px;
		width: 50%;
	}

	#restaurants-list li p {
		font-size: 18px;
	}
	
	#footer {
		font-size: 15px;
		margin-top: auto;
		width: 100%;
	}
}

@media screen and (min-width: 406px) {
	.heading-link {
		font-size: 25px;
	}
}

@media screen and (min-width: 450px) {
	#restaurants-list {
		padding-right: 0;
		padding-left: 0;
	}

	#restaurants-list li {
		width: 65%;
	}
	.filter-options {
		display: flex;
	}
}