@media screen and (min-width: 320px) {
	.inside {
		display: flex;
		flex-wrap: wrap;
	}

	.inside header {
		position: static;
	}

	#breadcrumb {
		width: 100%;
		margin: 0;
		padding: 0;
	}

	#breadcrumb li {
		font-size: 18px;
	}

	#maincontent {
		margin-top: 2em;
	}

	.inside #map-container {
		width: 100%;
		height: 25em;
		padding: 0;
		margin: 0;
	}

	#map {
		width: 100%;
		height: 100%;
	}

	#restaurant-container, #reviews-container {
		width: 100%;
		padding: 0;
	}

	#restaurant-img, #restaurant-cuisine {
		width: 100%;
	}

	#restaurant-name {
		text-align: center;
	}

	#restaurant-hours tr td {
		line-height: 2em;
		font-size: 13px;
		padding-right: 1.5em;
	}

	#reviews-container  {
		margin: 3em 0 3em;
	}

	#reviews-list li p {
		font-size: 16px;
	}

	.inside #footer {
		font-size: 14px;
		padding: 1em 0 1em;
		width: 100%;

	}
}

@media screen and (min-width: 400px) {
	#restaurant-hours tr td {
		font-size: 15px;
	}
}

@media screen and (min-width: 500px) {
	nav h1 a {
		display: block;
		padding-top: 18px;
		font-size: 26px;
	}

	#breadcrumb li {
		font-size: 22px;
	}

	#maincontent {
		width: 100%;
	}

	#restaurant-img, #restaurant-cuisine {
		display: block;
		margin: 0 auto 2em auto;
		margin-left: auto;
		margin-right: auto;
		width: 500px;
	}

	#restaurant-name {
		font-size: 28px;
	}

	#restaurant-cuisine {
		font-size: 20px;
	}

	#restaurant-hours tr td {
		font-size: 18px;
	}

	#restaurant-address {
		text-align: center;
		font-size: 24px;
	}

	#reviews-list li p {
		font-size: 18px;
	}
}

@media screen and (min-width: 1000px) {
	.inside {
		display: relative;
	}

	.inside header {
		position: fixed;
	}

	#breadcrumb {
		width: 50%;
	}

	#restaurant-container {
		width: 50%;
	}

	#restaurant-img, #restaurant-cuisine {
		margin: 2em 0 2em;
	}

	.inside #map-container {
  		background: blue none repeat scroll 0 0;
  		height: 91.5%;
  		position: fixed;
  		right: 0;
  		top: 80px;
  		width: 50%;
	}

	#restaurant-address {
		text-align: left;
	}

	#reviews-list li {
		width: 45%;
	}

	.inside #footer {
		width: 50%;
	}
}